

body
{
    background-color: #aaa;
}

 .links {
    margin: 0px;
        width: 150px;
        border: solid 1px black;
            /* padding: 8px; */
            background-color: #dddddd;
            text-align: center;
            color: black; 
    }
        ul {
            /* display: inline; */
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
    
        li {
            display: inline-block;
            margin: 0;
        }
    
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 8px 8px;
            height: 100%;
            text-decoration: none;
        }
    
        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: green;
        }

    .links a {
        color: black;
    }



a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    display: block;
    width: 30%;
    margin: auto;     
}

form {
background-color: #aaa;
padding: 30px;
height: 200px; 

}

input {
width: 400px;
height: 25px;
margin-bottom: 20px;

}